body {
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
  background-image: url(/assets/images/bienevenido.png);
  /* background-color: #08a0a2; */
  /* background-color: #891313; */
  background-size: 100% auto; /* Estira la imagen horizontalmente */
  background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}
/* ---------------------------------------------------------------------------- */
#first-person {
  font-family: 'Open Sans', sans-serif;
  color: #096daf;
  font-size: 71px;
  font-weight: bolder;
  position: relative;
  height: 250px;
  width: 1400px;
  position: relative;
  top: 390px;
  right: 550px;
  background: rgb(255, 255, 255);
  border-radius: 500px;
  padding: 30px;
  animation: lights 2s linear infinite;

}
@keyframes lights {
  0% {
    box-shadow: 0 0 10px rgba(255, 251, 23, 0.6);
  }
  50% {
    box-shadow: 0 0 20px rgb(255, 255, 0);
  }
  100% {
    box-shadow: 0 0 10px rgb(1, 247, 34);
  }
}


#persons-list{
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 20px; /* Tamaño de fuente más grande */
    position: relative; /* Establece la posición relativa para el contenedor */
    height: 0px; /* Altura del contenedor, solo para demostración */
    width: 1200px; /* Anchura del contenedor, solo para demostración */
    position: relative; /* Establece la posición absoluta para el texto */
    top: 320px; /* Mueve el texto 50px hacia abajo desde la parte superior del contenedor */
    right: 500px; /* Mueve el texto 100px desde el margen izquierdo del contenedor */
    left: 270px;
}

#counter{
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 25px;
  font-weight: bolder;
  position: relative;
  height: 100px;
  width: 250px;
  position: relative;
  top: -320px;
  left: 820px;
  background: 0;
  border-radius: 50px;
  padding: 9px;
  animation: lightss 2s linear infinite;
}
@keyframes lightss {
  0% {
    box-shadow: 0 0 10px rgba(255, 251, 23, 0.6);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(251, 255, 13, 0.6);
  }
}