body {
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
    background-color: #111;
    background-size: 100vw 100vh;
    justify-content: center;
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */

  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

/* ////////////////////////////////// */

@media (max-width: 1380px) {
  #camera-container {
    margin: 400px auto;
    text-align: center;
  }
  
  #camera-container .container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #camera-container .row {
    margin-bottom: 10px;
  }
  #camera-container .col {
    text-align: center;
  }
#result {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 25px;
  color: white;
  border: 3px solid #096daf;
  white-space: pre-line;
  height: auto;
  overflow: hidden;
  hyphens: auto;
  border-radius: 50%;
  width: 650px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: lights 2s linear infinite;
}

#result p {
  font-size: 100%; /* Tamaño relativo */
  max-height: 100%;
  max-width: 100%;
color: white;
}

#linke a{
color: white;
font-size: 24px;
}
  
  @keyframes lights {
    0% {
      box-shadow: 0 0 10px rgba(4, 173, 26, 0.6);
    }
    50% {
      box-shadow: 0 0 20px rgba(4, 173, 26, 0.8);
    }
    100% {
      box-shadow: 0 0 10px rgba(4, 173, 26, 0.6);
    }
  }
  
  
  
  .button-container {
    margin-top: 300px;
  }
}

#camera-btn{
  color: #ffffff;
  background-color: #096daf;
  font-family: 'Poppins', sans-serif;
}
#change-camera-btn{
  color: #ffffff;
  background-color: #096daf;
  font-family: 'Poppins', sans-serif;

}

#resultado{
  color: #ffffff;
}



a{
  color: #111;
  text-align: end;
}

.scanning-video {
  animation: lightss 2s linear infinite;
}

@keyframes lightss {
  0% {
    box-shadow: 0 0 10px rgb(2, 154, 255);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 38, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(31, 9, 177, 0.6);
  }
}


